.wrapper {
  margin-top: 20px;
}

.heading {
  color: rgba(22,24,35,0.75);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.accountItem {
  display: flex;
  align-items: center;
  padding: 10px 4px;

  &:hover {
      background-color: rgba(22,24,35,0.03);
  }
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ebebeb;
  overflow: hidden;
}

.accountBody {
  margin-left: 12px;
}

.nickname {
  font-size: 1.6rem;
  font-weight: 600;
}

.name {
  font-size: 1.2rem;
  font-weight: 300;
}

.tickIcon {
  color: #20d5eb;
  font-size: 1.4rem;
  margin-left: 4px;
}

.seeBtn {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 12px 0 0 12px;
    cursor: pointer;
    padding: 4px;
}

.seeIcon {
    margin-left: 6px;
    font-size: 1.4rem;
}
